.formCardWrapper {
  padding-bottom: 72px;
}

.formikAdminWrapper {
  margin: 0 auto 72px;
  max-width: 264px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  /* max-width: 260px; */
  margin: 8px auto;
}

.iconOption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  cursor: pointer;
}

.iconOption:hover {
  background-color: #c0c9ceda; /* 👈 підсвітка при наведенні */
}

.activeIcon {
  background-color: #c7af3580; /* 👈 підсвітка при натисканні */
  border: 2px solid var(--primary-color-gold);
}

.label {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-color-white);
  margin-bottom: 4px;
}

.input,
.textarea {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 40px;
  padding-left: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-color-white);
  outline: transparent;
  margin-bottom: 8px;
}
.input:focus {
  border-color: var(--primary-color-white);
  outline: transparent;
}

.textarea {
  height: 120px;
  resize: none;
  padding: 8px;
}

.inputFile {
  display: none;
}

.fileInputWrapper {
  position: relative;
}

.fileInputButton {
  display: inline-block;
  background-color: var(--primary-color-white);
  color: var(--secondary-color-2);
  padding: 14px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: start;
  width: 100%;
  transition: background-color 0.3s;
  font-size: 12px;
  margin-bottom: 8px;
}

.fileInputButton:hover {
  background-color: var(--primary-color-gold);
}

.selectedFile {
  font-size: 12px;
  color: var(--primary-color-gold);
  margin-bottom: 8px;
  font-weight: bold;
  padding: 4px 0;
  text-align: left;
  padding-left: 10px;
}

.error {
  color: #e60202;
  font-size: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-weight: bold;
}

.servicesTitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.servicesCard {
  display: flex;
  flex-wrap: wrap;

  row-gap: 48px;
  justify-content: center;
  padding-bottom: 96px;
}
.serviceCardItem {
  position: relative;
  overflow: hidden;
  background: var(--primary-color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.serviceCardItem:hover,
.serviceCardItem:focus {
  box-shadow: 0 4px 6px rgba(46, 47, 66, 0.1), 0 2px 4px rgba(46, 47, 66, 0.06);
}

@media screen and (min-width: 768px) {
  .servicesCard {
    gap: 24px;
    row-gap: 72px;
  }

  .serviceCardItem {
    width: calc((100% - 24px) / 2);
  }

  .formikAdminWrapper {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .servicesSection {
    padding: 96px 0;
  }

  .servicesCard {
    row-gap: 48px;
  }

  .serviceCardItem {
    width: calc((100% - 2 * 24px) / 3);
  }

  .formikAdminWrapper {
    width: 100%;
    max-width: none;
  }
}

.btnAdminDelete {
  background-color: #e60202;
  margin-bottom: 32px;
  display: flex;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnAdminDelete:hover,
.btnAdminDelete:focus {
  background-color: #cc0202;
}

.noInfoText {
  margin: 0;
  padding: 20px;
}
