.appBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1158px) {
  .appBar {
    padding: 0px;
  }
}
