.blogPost {
  padding: 96px 0;
}
.backButton {
  display: inline-flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
  padding: 10px 16px;
  margin-bottom: 58px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--primary-color-white);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.backButton:hover {
  background-color: var(--primary-color-dark);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  background: linear-gradient(45deg, #d8b036, #e8ce82, #d8b036);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.categoryDateWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}
.image {
  display: block;
  margin: 0 auto 36px;
  max-width: 100%;
  height: auto;
}

.content {
  margin-bottom: 58px;
}

.content p:empty::before {
  content: " ";
  display: inline-block;
  min-height: 1em;
}

.youtubeButton {
  color: var(--primary-color-gold);
}
.youtubeButton:hover,
.youtubeButton:focus {
  color: var(--secondary-color-5);
}

@media screen and (min-width: 768px) {
  .image {
    margin: 0 auto 72px;
  }
}
