:root {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --primary-color-white: #ffffff;
  --primary-color-gold: #d6b65a;
  --primary-color-blue: #1a365b;
  --secondary-color-2: #686f73;
  --secondary-color-3: #053878;
  --secondary-color-4: rgb(0, 0, 0);
  --secondary-color-5: #d8b036;

  --font-roboto: "Roboto", sans-serif;
}
