:root {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --primary-color-white: #fff;
  --primary-color-black: #2f2f2f;
  --primary-color-blue: #1a365b;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #d6b65a;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondary-color---5: #d7e3ff;
  --secondary-color-6: #407bff;

  /* --button-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  --button-shadow-hover: 0 4px 14px 0 rgba(64, 123, 255, 0.54); */

  --font-roboto: "Roboto", sans-serif;
  /* --background-mob-homescreen: url(../images/homePage/light/Background-home-screen-1x-light-mob.webp);
  --background-tab-homescreen: url(../images/homePage/light/Background-home-screen-1x-light-tab.webp);
  --background-desktop-homescreen: url(../images/homePage/light/Background-home-screen-1x-light-desktop.webp);

  --background-mob-welcomepage-1x: url(../images/homePage/Background-welcome-1x-light-mob.webp);
  --background-tab-welcomepage-1x: url(../images/homePage/Background-welcome-1x-light-tab.webp);
  --background-desktop-welcomepage-1x: url(../images/homePage/Background-welcome-1x-light-desktop.webp);

  --background-mob-welcomepage-2x: url(../images/homePage/Background-welcome-2x-light-mob.webp);
  --background-tab-welcomepage-2x: url(../images/homePage/Background-welcome-2x-light-tab.webp);
  --background-desktop-welcomepage-2x: url(../images/homePage/Background-welcome-2x-light-desktop.webp);

  --bottle-home-1x-mob: url(../images/homePage/light/Bottle-home-screen-1x-light-mob.webp);
  --bottle-home-2x-mob: url(../images/homePage/light/Bottle-home-screen-2x-light-mob.webp);

  --bottle-home-1x-tab: url(../images/homePage/light/Bottle-home-screen-1x-light-tab.webp);
  --bottle-home-2x-tab: url(../images/homePage/light/Bottle-home-screen-2x-light-tab.webp);

  --bottle-home-1x-desktop: url(../images/homePage/light/Bottle-home-screen-1x-light-desktop.webp);
  --bottle-home-2x-desktop: url(../images/homePage/light/Bottle-home-screen-2x-light-desktop.webp);

  --welcome-bckg-mob: url(../images/background/mobile/welcome-bckg-mob.svg);
  --welcome-bckg-tab: url(../images/background/tablet/welcome-bckg-tab.svg);
  --welcome-bckg-dsk: url(../images/background/desktop/welcome-bckg-dsk.svg);

  --welcome-layer-dsk: url(../images/background/desktop/welcome-layer-dsk.svg);

  --mainPage-bck-mob: url(../images/background/mobile/mainpage-bck-mob.svg);
  --mainPage-bck-tab: url(../images//background/tablet/mainpage-bck-tab.svg);
  --mainPage-bck-dsk: url(../images/background/desktop/mainpage-bck-dsk.svg); */
}
