.modalContent {
  position: relative;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-color-2);
  margin-bottom: 8px;
}
.label:last-of-type {
  margin-bottom: 16px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--secondary-color-4);
}

.icon {
  position: absolute;
  left: 10px;
}
.inputWrapper:focus-within .icon {
  color: var(--primary-color-gold);
}

.input,
.textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.textarea {
  height: 120px;
  resize: none;
  padding: 8px;
}

.input:focus,
.textarea:focus {
  border-color: var(--primary-color-gold);
  outline: transparent;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 10px;
  font-weight: bold;
}

.btnModal:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btnModal:hover {
  background-color: var(--primary-color-blue);
}

.btnModal:disabled:hover {
  background-color: #ccc;
}
