.careerSection {
  background: var(--primary-color-gold);
  padding: 96px 0;
}

.careerTitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.careerCard {
  display: flex;
  max-width: 264px;
  margin: 0 auto;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}

.careerCardItem {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.emptyMessage {
  text-align: center;
}
