.headerContainer {
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.footerContainer {
  background-color: var(--secondary-color-2);
  position: relative;
  margin-bottom: 0;
}
.line {
  position: absolute;
  bottom: 68px; /* Піднімаємо лінію на 20px від нижнього краю футера */
  left: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 2px solid #e7e9fc;
  box-shadow: 0px 1px 0px rgba(46, 47, 66, 0.16);
}
