.aboutSection {
  background: var(--primary-color-blue);
  padding: 96px 0;
}

.aboutTitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.imgAndTextWrapper {
  display: flex;
  flex-direction: row;
}

.videoWrapper {
  margin-top: 24px;
  aspect-ratio: 16 / 9;
  max-width: 800px;
  width: 100%;
}
