.navContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.burger {
  display: block;
  background: none;
  border: none;
  font-size: 32px;
  color: var(--primary-color-white);
  cursor: pointer;
  z-index: 101;
  position: absolute;
  top: -18px;
  right: -24px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.nav.show {
  transform: translateY(0);
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-white);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.navLink:hover,
.navLink:focus {
  color: var(--primary-color-gold);
}
.navFooter .nav {
  position: static;
  background: none;
  height: auto;
  transform: none;
  flex-direction: row;
  gap: 20px;
}

/* .studioLowerDash {
  position: relative;
  color: #404bbf;
}
.studioLowerDash::after {
  content: "";
  display: block;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
} */

@media (min-width: 1158px) {
  .burger {
    display: none;
  }

  .nav {
    position: static;
    background: none;
    height: auto;
    transform: none;
    flex-direction: row;
    gap: 40px;
  }

  .navList {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
  }
}
