/* Контейнер для навігації */
.navContainer {
  display: flex;
  align-items: center;
  position: relative;
}

/* Бургер-кнопка */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-white);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navLink:hover,
.navItem:focus {
  color: var(--primary-color-gold);
}
/* .studioLowerDash {
  position: relative;
  color: #404bbf;
}
.studioLowerDash::after {
  content: "";
  display: block;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
} */

/* Стилі для десктопного меню */
.nav {
  /* display: flex; */
}

.navList {
  display: flex;
  list-style: none;
  gap: 40px;
}

/* Мобільні стилі */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background: #4d5ae5;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: none;
    border-radius: 8px;
  }

  .nav.show {
    display: flex;
  }
}

/* Стилі для хедера */
.navHeader {
  display: flex;
  gap: 20px;
}

/* Стилі для футера */
.navFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
