.contact {
  padding: 96px 0;
  background-color: var(--primary-color-gold);
}

.addressTitle {
  /* line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 36px; */
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: var(--primary-color-white);
}
.address,
.email,
.dic,
.contactText {
  margin-bottom: 36px;
}
.tel a {
  color: var(--primary-color-white);
  text-decoration: underline dashed;
  text-underline-offset: 3px;
}
.tel a:hover {
  text-decoration: underline;
}
.email a {
  color: var(--primary-color-white);
  text-decoration: underline dashed;
  text-underline-offset: 3px;
}
.email a:hover {
  text-decoration: underline;
}

.mapContainer {
  height: 300px;
  width: 100%;
  margin-top: 72px;
  border-radius: 10px;
  overflow: hidden;
}
