.contact {
  padding: 96px 0;
  background-color: var(--primary-color-gold);
}

.contactTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.addressTitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* color: var(--secondary-color-4); */
  margin-bottom: 36px;
}
.address,
.email,
.dic,
.contactText {
  margin-bottom: 36px;
}
.tel a {
  color: var(--primary-color-white);
  text-decoration: underline dashed;
  text-underline-offset: 3px;
}
.tel a:hover {
  text-decoration: underline;
}
.email a {
  color: var(--primary-color-white);
  text-decoration: underline dashed;
  text-underline-offset: 3px;
}
.email a:hover {
  text-decoration: underline;
}

.mapContainer {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* .info p {
  margin: 5px 0;
}

.info a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}*/
