.portfolioSection {
  padding: 96px 0;
}

.portfolioTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  background: linear-gradient(45deg, #d8b036, #e8ce82, #d8b036);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.projectCard {
  display: flex;
  flex-wrap: wrap;

  row-gap: 48px;
  justify-content: center;
}

.projectCardItem {
  position: relative;
  overflow: hidden;
  background: var(--primary-color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.projectCardItem:hover,
.projectCardItem:focus {
  box-shadow: 0 4px 6px rgba(46, 47, 66, 0.1), 0 2px 4px rgba(46, 47, 66, 0.06);
}

.projectCardTitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.projectCardText {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-blue);
  margin-top: 0;
  margin-bottom: 8px;
}

.portfolioOverlayImages {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolioOverlayText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 183, 90, 0.9);
  color: var(--primary-color-white);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 40px 32px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow-y: auto;
  max-height: 100%;
}

.projectCardItem:hover .portfolioOverlayText,
.projectCardItem:focus .portfolioOverlayText {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .projectCard {
    gap: 24px;
    row-gap: 72px;
  }

  .projectCardItem {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .projectCard {
    row-gap: 48px;
  }

  .projectCardItem {
    width: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (max-width: 1157px) {
  .portfolioOverlayText.active {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
