.label {
  font-size: 12px;
}

.editorWrapper {
  border-radius: 5px;
  min-height: 200px;
  background: var(--primary-color-blue);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.editorWrapper ul {
  padding-left: 20px;
  list-style-type: disc;
}
