.label {
  font-size: 12px;
}

.editorWrapper {
  border-radius: 5px;
  min-height: 200px;
  min-height: 200px;
  max-height: 550px; /* або будь-яка максимальна висота, яку хочеш */
  background: var(--primary-color-blue);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.editorWrapper ul {
  padding-left: 20px;
  list-style-type: disc;
}

.error {
  color: #e60202;
  font-size: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-weight: bold;
}
