.footer {
  color: white;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 72px; */
  text-align: center;
}

/* .footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
} */

.LogoTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}

.logoFooter {
  display: flex;
  justify-content: center;
}

.footerText {
  width: 264px;
  margin: 0;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}
.socialText {
  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  color: #fff;
  margin: 0;
  text-align: center;
}
.icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

/* .icon:hover {
  color: var(--primary-color-gold);
} */

.copyright {
  margin: 0;
  padding: 24px 0;
  font-size: 12px;
}

.socialIconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.socialIconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialLink {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color-3);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.socialLink:hover,
.socialLink:focus {
  background-color: var(--primary-color-gold);
}
.socialIconList svg {
  width: 24px;
  height: 24px;
}
.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.menu {
  color: var(--primary-color-gold);
}
.navFooter {
  display: flex;
}
.navFooter ul {
  /* background-color: #fff; */
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: start;
}
.navFooter ul a {
  padding: 0;
}

/* Планшетна версія: два стовпчики */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 72px; */
  }
  /* 
  .navFooter {
    align-items: start;
  }

  .navFooter ul {
    align-items: start;
  } */
}

/* Десктопна версія: в рядок */
@media screen and (min-width: 1158px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: left;
  }
  .LogoTextContainer {
    margin-right: 170px;
  }
  .footerLeft {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;
  }
  .socialIconList {
    gap: 16px;
  }
}

/* .nav {
  display: flex !important;
  position: static !important;
  background: none !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 0 !important;
  border-radius: 0 !important;
} */

/* .navList {
  display: flex;
  gap: 40px;
  list-style: none;
} */

/* .navFooter ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.navFooter ul a {
  padding: 8px 0;
} */
