/* .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navFooter {
  background-color: #333;

  color: white;
  padding: 20px;
  text-align: center;
}
.navList {
  background-color: #ffffff;
}
.navFooter ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.navFooter li {
  display: inline-block;
  margin: 0 10px;
}

.navFooter a {
  color: white;
  text-decoration: none;
}

.navFooter a:hover {
  text-decoration: underline;
} */

.footer {
  /* background-color: #222; */
  color: white;
  padding: 72px 0;
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  gap: 50px;
  justify-content: space-between;
}
.footerLogoContainer {
  margin-bottom: 72px;
}
.footerText {
  width: 264px;
}
.navFooter ul a {
  padding: 8px 0;
}

.navFooter ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
}

.menu {
  color: var(--primary-color-gold);
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: start;
  text-align: start;
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: #0077b5; /* Колір LinkedIn */
}
.copyright {
  margin: 0;
  padding: 24px 0;
  font-size: 12px;
}
