.footer {
  color: var(--primary-color-white);
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

.LogoTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
  align-items: center;
}

.logoFooter {
  display: flex;
  justify-content: center;
}

.footerText {
  display: flex;
  text-align: center;
  width: 264px;
  margin: 0;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
}

.socialText {
  color: var(--primary-color-white);
  margin: 0;
  text-align: center;
}
.icon {
  font-size: 24px;
  color: var(--primary-color-white);
  transition: color 0.3s;
}

.socialIconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.socialIconItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialLink {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color-3);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-color-white);
}

.socialLink:hover,
.socialLink:focus {
  background-color: var(--primary-color-gold);
}
.socialIconList svg {
  width: 24px;
  height: 24px;
}
.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu {
  color: var(--primary-color-gold);
  /* display: flex; */
  align-content: center;
}

.navFooter {
  display: flex;
}

.navFooter ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: start;
}

.navFooter ul a {
  padding: 0;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.firmyWidget iframe {
  max-width: 100%;
}

.copyrightPrivacyPolicy {
  display: flex;
  flex-direction: column;
}

.cPpItem {
  display: flex;
  text-align: center;
}

.copyright {
  margin: 0;
  font-size: 12px;
}

.PrivacyPolicy {
  color: var(--primary-color-gold);
  margin: 12px 0;
  display: flex;
  text-align: center;
  font-size: 12px;
  align-items: center;
}

.PrivacyPolicy:hover {
  color: var(--secondary-color-5);
}

.PrivacyAndCookiePolicy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Планшетна версія: два стовпчики */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu {
    text-align: center;
  }
  .copyrightPrivacyPolicy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .copyright {
    padding: 24px 0;
  }

  .copyrightAndPolicy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .PrivacyAndCookiePolicy {
    gap: 16px;
  }
}

/* Десктопна версія: в рядок */
@media screen and (min-width: 1158px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    text-align: left;
  }
  .LogoTextContainer {
    /* margin-right: 170px; */
    margin-bottom: 0;
  }
  .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 72px;
  }

  .social {
    margin: 0;
  }

  .socialIconList {
    gap: 16px;
  }
  .navWrapper {
    align-items: center;
  }

  .copyright {
    padding: 24px 0;
  }

  .copyrightPrivacyPolicy {
    flex-direction: row;
    justify-content: space-between;
  }
  .copyrightAndPolicy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .PrivacyAndCookiePolicy {
    gap: 20px;
  }
}
