.iconWrapper {
  display: none;
}

.benefitsTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  background: linear-gradient(45deg, #d8b036, #e8ce82, #d8b036);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.benefitsText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
