body {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white); /* Колір тексту */
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */
}
