.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-color-2);
}

.title {
  display: flex;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color-gold);
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  align-items: center;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye {
  width: 16px;
  height: 16px;
  fill: var(--primary-color-black);
}

.logInPass {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.logInPass:focus {
  border-color: var(--primary-color-gold);
}

.logInBtn {
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logInBtn:hover {
  background-color: var(--primary-color-gold);
}

.logInErrorText {
  font-size: 14px;
  color: red;
  text-align: center;
}
